USE [master]
GO
/****** Object:  Database [BankSysDB]    Script Date: 2/24/2026 8:10:52 AM ******/
CREATE DATABASE [BankSysDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankSysDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankSysDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankSysDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankSysDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankSysDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankSysDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountNumber] [varchar](150) NOT NULL,
	[PinCodeHash] [varchar](250) NOT NULL,
	[Balance] [decimal](18, 4) NOT NULL,
	[ClientId] [int] NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[UserName] [nvarchar](50) NULL,
	[PasswordHash] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[FromAccountId] [int] NULL,
	[ToAccountId] [int] NULL,
	[TransactionDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 4) NOT NULL,
	[TypeId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK__Transact__55433A6B18A5804D] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionStatus]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](250) NOT NULL,
	[PersonId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [AccountNumber], [PinCodeHash], [Balance], [ClientId], [IsActive]) VALUES (1, N'ACC0001', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(290.0000 AS Decimal(18, 4)), 1, 1)
INSERT [dbo].[Accounts] ([AccountId], [AccountNumber], [PinCodeHash], [Balance], [ClientId], [IsActive]) VALUES (2, N'ACC0002', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(400.0000 AS Decimal(18, 4)), 2, 1)
INSERT [dbo].[Accounts] ([AccountId], [AccountNumber], [PinCodeHash], [Balance], [ClientId], [IsActive]) VALUES (3, N'ACC0003', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(0.0000 AS Decimal(18, 4)), 3, 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [PersonId], [IsActive], [UserName], [PasswordHash]) VALUES (1, 2, 1, N'client1', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
INSERT [dbo].[Clients] ([ClientId], [PersonId], [IsActive], [UserName], [PasswordHash]) VALUES (2, 3, 1, N'client2', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
INSERT [dbo].[Clients] ([ClientId], [PersonId], [IsActive], [UserName], [PasswordHash]) VALUES (3, 4, 0, N'client0', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonId], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (1, N'Abderrahmane', N'Bouafir', N'Boi@email.com', N'02134786', N'Algeria')
INSERT [dbo].[Persons] ([PersonId], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (2, N'Ahmed', N'Alaa', N'Alaa@email.com', N'01456', N'Sharae 14 mutlawi')
INSERT [dbo].[Persons] ([PersonId], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (3, N'Samia', N'Rihabe', N'rihabe@email.com', N'0214895', N'whatever 123 street')
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [TransactionDate], [Amount], [TypeId], [StatusId], [Description]) VALUES (1, NULL, 1, CAST(N'2026-02-21T20:03:06.207' AS DateTime), CAST(1000.0000 AS Decimal(18, 4)), 1, 2, N'Test')
INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [TransactionDate], [Amount], [TypeId], [StatusId], [Description]) VALUES (2, 1, NULL, CAST(N'2026-02-21T20:03:21.080' AS DateTime), CAST(20.0000 AS Decimal(18, 4)), 2, 2, N'Withdraw Test')
INSERT [dbo].[Transactions] ([TransactionId], [FromAccountId], [ToAccountId], [TransactionDate], [Amount], [TypeId], [StatusId], [Description]) VALUES (3, NULL, 1, CAST(N'2026-02-21T20:08:52.213' AS DateTime), CAST(20.0000 AS Decimal(18, 4)), 1, 2, N'For Myself')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionStatus] ON 

INSERT [dbo].[TransactionStatus] ([StatusId], [StatusName]) VALUES (1, N'Pending')
INSERT [dbo].[TransactionStatus] ([StatusId], [StatusName]) VALUES (2, N'Completed')
INSERT [dbo].[TransactionStatus] ([StatusId], [StatusName]) VALUES (3, N'Failed')
SET IDENTITY_INSERT [dbo].[TransactionStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TypeId], [TypeName]) VALUES (1, N'Deposit')
INSERT [dbo].[TransactionTypes] ([TypeId], [TypeName]) VALUES (2, N'Withdraw')
INSERT [dbo].[TransactionTypes] ([TypeId], [TypeName]) VALUES (3, N'Transfer')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [PasswordHash], [PersonId]) VALUES (1, N'Bouaboi', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__BE2ACD6F2801AD75]    Script Date: 2/24/2026 8:10:52 AM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Clients__AA2FFBE4361AF97E]    Script Date: 2/24/2026 8:10:52 AM ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clients_UserName]    Script Date: 2/24/2026 8:10:52 AM ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UQ_Clients_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__AA2FFBE428290EF9]    Script Date: 2/24/2026 8:10:52 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F284562BBE1587]    Script Date: 2/24/2026 8:10:52 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([PersonId])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__FromA__4AB81AF0] FOREIGN KEY([FromAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__FromA__4AB81AF0]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__Statu__4D94879B] FOREIGN KEY([StatusId])
REFERENCES [dbo].[TransactionStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__Statu__4D94879B]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__ToAcc__4BAC3F29] FOREIGN KEY([ToAccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__ToAcc__4BAC3F29]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK__Transacti__TypeI__4CA06362] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TransactionTypes] ([TypeId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK__Transacti__TypeI__4CA06362]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([PersonId])
REFERENCES [dbo].[Persons] ([PersonId])
GO
/****** Object:  StoredProcedure [dbo].[Sp_ActivateClients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[Sp_ActivateClients]
    @ClientId INT
AS
BEGIN


    BEGIN TRANSACTION;

    BEGIN TRY 

    UPDATE Clients
    SET IsActive = 1
    WHERE ClientID = @ClientId
    
    COMMIT;
    RETURN 1;

     END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAcounts]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_AddAcounts]
    @PinCodeHash VARCHAR(100),
    @ClientId INT,
    @NewAccountID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @NewAccountID = -1;

    IF NOT EXISTS (SELECT 1 FROM Clients WHERE ClientId = @ClientId)
    BEGIN
        RAISERROR ('Error: Client ID does not exist in Clients table.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Accounts WHERE ClientId = @ClientId)
    BEGIN
        RETURN 0; 
    END
    
    BEGIN TRANSACTION;
    BEGIN TRY 
        DECLARE @AccountNumber VARCHAR(20) = 'ACC' + RIGHT('000' + CAST(@ClientId AS VARCHAR), 5);

        INSERT INTO Accounts (AccountNumber, PinCodeHash, Balance, ClientId, IsActive)
        VALUES (@AccountNumber, @PinCodeHash, 0, @ClientId, 1);

        SET @NewAccountID = SCOPE_IDENTITY();

        COMMIT TRANSACTION;
        RETURN 1;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @NewAccountID = -1;
        THROW; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddClients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_AddClients]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(255),
    @Phone VARCHAR(50),
    @Address NVARCHAR(250),
    @UserName VARCHAR(50),
    @PasswordHash VARCHAR(100),
    @NewPersonID INT OUTPUT,
    @NewClientID INT OUTPUT
AS
BEGIN
    
    BEGIN TRANSACTION;

    BEGIN TRY 

    INSERT INTO Persons (FirstName, LastName, Email, Phone, Address)
    VALUES (@FirstName, @LastName, @Email, @Phone, @Address);


    SET @NewPersonID = SCOPE_IDENTITY();

    INSERT INTO Clients(PersonId, UserName, PasswordHash, IsActive)
    VALUES (@NewPersonID,@UserName, @PasswordHash ,1)

    SET @NewClientID = SCOPE_IDENTITY();

    COMMIT;
    RETURN 1;
    END TRY

     BEGIN CATCH
     IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @NewPersonID = -1;
        SET @NewClientID = -1;
        DECLARE @ErrMsg NVARCHAR(500) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AddNewUser]  -- Changed from SP_ to USP_
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(255),
    @Phone NVARCHAR(50),
    @Address NVARCHAR(250),
    @UserName NVARCHAR(50),
    @PasswordHash VARCHAR(100),
    @NewUserID INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY 
        DECLARE @NewPersonID INT;
        
        INSERT INTO Persons (FirstName, LastName, Email, Phone, Address)
        VALUES (@FirstName, @LastName, @Email, @Phone, @Address);
        
        SET @NewPersonID = SCOPE_IDENTITY();
        
        INSERT INTO Users(PersonId, UserName, PasswordHash)
        VALUES (@NewPersonID, @UserName, @PasswordHash);
        
        SET @NewUserID = SCOPE_IDENTITY();
        
        COMMIT;
        RETURN 1;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddTransaction]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_AddTransaction]

  @TypeId INT,
  @Amount DECIMAL(18,2),
  @FromAccountId INT,
  @ToAccountId INT,
  @Description VARCHAR(250),
  @TransactionId INT OUTPUT

AS
BEGIN 

      BEGIN TRANSACTION;

    BEGIN TRY 

    IF @TypeId = 1 

      BEGIN

     Insert INTO Transactions (FromAccountId, ToAccountId, TransactionDate, Amount, TypeId, StatusId, Description)
     VALUES (NULL, @ToAccountId, GETDATE(), @Amount, 1, 2, @Description)
     SET @TransactionId = SCOPE_IDENTITY()

    UPDATE Accounts 
    SET Balance = Balance + @Amount
    WHERE AccountId = @ToAccountId;
 
 END

    ELSE
  
       IF @TypeId = 2
       BEGIN

       DECLARE @CurrentBalance DECIMAL (18,2);
       SELECT  @CurrentBalance = Balance
       FROM Accounts
       WHERE AccountId = @FromAccountId;

       IF @CurrentBalance < @Amount
       BEGIN 
       ROLLBACK TRANSACTION
          RETURN 0
          END
       
     Insert INTO Transactions (FromAccountId, ToAccountId, TransactionDate, Amount, TypeId, StatusId, Description)
     VALUES (@FromAccountId, NULL, GETDATE(), @Amount, 2, 2, @Description)

     SET @TransactionId = SCOPE_IDENTITY()

    UPDATE Accounts 
    SET Balance = Balance - @Amount
    WHERE AccountId = @FromAccountId;

    END

    ELSE
        
        IF @TypeId = 3
        BEGIN

        DECLARE @FromAccBalance DECIMAL(18,2)
        SELECT  @FromAccBalance = Balance
        FROM Accounts 
        WHERE AccountId = @FromAccountId

        IF @FromAccBalance < @Amount
          BEGIN 
       ROLLBACK TRANSACTION
          RETURN 0
          END
          
       
    Insert INTO Transactions (FromAccountId, ToAccountId, TransactionDate, Amount, TypeId, StatusId, Description)
    VALUES (@FromAccountId, @ToAccountId, GETDATE(), @Amount, 3, 2, @Description )

    SET @TransactionId = SCOPE_IDENTITY()

    UPDATE Accounts 
    SET Balance = Balance - @Amount
    WHERE AccountId = @FromAccountId;

    UPDATE Accounts
    SET Balance = Balance + @Amount
    WHERE AccountId = @ToAccountId;

    END

    COMMIT;
    RETURN 1;
    END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END


     
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAccount]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE PROCEDURE [dbo].[SP_DeleteAccount]
    @AccountId INT

AS
BEGIN

   DECLARE @Balance DECIMAL (18, 2)

   SELECT @Balance = Balance
   FROM Accounts
   WHERE AccountID = @AccountId

           IF @Balance > 0
  
                BEGIN 
                    RETURN 0
                    END

    BEGIN TRANSACTION;

    BEGIN TRY 

    UPDATE Accounts
    SET IsActive = 0
    WHERE AccountId = @AccountId
    
    COMMIT;
    RETURN 1;

     END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteClients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SP_DeleteClients]
    @ClientId INT
AS
BEGIN


    BEGIN TRANSACTION;

    BEGIN TRY 

    UPDATE Clients
    SET IsActive = 0
    WHERE ClientID = @ClientId
    
    COMMIT;
    RETURN 1;

     END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAccountByClientID]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GetAccountByClientID] 

   @ClientId INT

AS
BEGIN 

    SELECT C.ClientId, P.FirstName, P.LastName,
           A.AccountId ,A.AccountNumber, A.PinCodeHash, A.Balance, A.IsActive
    FROM Persons AS P
    INNER JOIN Clients AS C ON P.PersonId = C.PersonId
    INNER JOIN Accounts AS A ON C.ClientId = A.ClientId
    Where C.ClientId = @ClientId;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAccounts]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetAllAccounts]

AS
BEGIN 

   SELECT A.AccountId, A.AccountNumber, A.Balance, A.IsActive, C.ClientId, P.FirstName, P.LastName
   FROM Accounts AS A
   INNER JOIN Clients AS C ON A.ClientId = C.ClientId
   INNER JOIN Persons AS P ON C.PersonId = P.PersonId

END

EXEC SP_GetAllAccounts
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllClients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllClients]
AS
BEGIN

    SELECT C.ClientId, P.FirstName, P.LastName, P.Email, P.Phone, P.Address, C.IsActive 
    FROM Persons AS P
    INNER JOIN Clients AS C ON P.PersonId = C.PersonId
   
   END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTransactions]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetAllTransactions]
AS
BEGIN
    SELECT 
        T.TransactionId,
        T.TransactionDate,
        T.Amount,
        T.Description,
        T.FromAccountId,
        T.ToAccountId,
        TT.TypeName,
        TS.StatusName
    FROM Transactions AS T
    INNER JOIN TransactionTypes AS TT ON T.TypeId = TT.TypeId
    INNER JOIN TransactionStatus AS TS ON T.StatusId = TS.StatusId
    ORDER BY T.TransactionDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GetAllUsers]
AS
BEGIN
    SELECT 
        U.UserId,
        U.UserName,
        P.FirstName,
        P.LastName

    FROM Users AS U
    INNER JOIN Persons AS P ON U.PersonId = P.PersonId
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClientByID]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetClientByID]
   @ClientId INT
AS
BEGIN 
    SELECT C.ClientId, P.FirstName, P.LastName, P.Email, P.Phone, P.Address, C.IsActive
    FROM Persons AS P
    INNER JOIN Clients AS C ON P.PersonId = C.PersonId
    Where C.ClientId = @ClientId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTransactionsByAccountID]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTransactionsByAccountID]
    @AccountId INT
AS 
BEGIN
    SELECT 
        T.TransactionId,
        T.TransactionDate,
        T.Amount,
        T.Description,
        T.FromAccountId,
        T.ToAccountId,
        TT.TypeName,
        TS.StatusName
    FROM Transactions AS T
    INNER JOIN TransactionTypes AS TT ON T.TypeId = TT.TypeId
    INNER JOIN TransactionStatus AS TS ON T.StatusId = TS.StatusId
    WHERE T.FromAccountId = @AccountId OR T.ToAccountId = @AccountId
    ORDER BY T.TransactionDate DESC;  -- Most recent first
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAccount]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_UpdateAccount]
    
    @AccountId INT,
    @PinCodeHash VARCHAR(100)
AS
BEGIN


    BEGIN TRANSACTION;

    BEGIN TRY 

    UPDATE Accounts
    SET PinCodeHash = @PinCodeHash
    WHERE AccountId = @AccountId
    
    COMMIT;
    RETURN 1;

     END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClientPassword]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateClientPassword]
    @ClientId INT,
    @NewPasswordHash VARCHAR(100)
AS
BEGIN
    BEGIN TRY
        UPDATE Clients
        SET PasswordHash = @NewPasswordHash
        WHERE ClientId = @ClientId;
        
        RETURN 1;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateClients]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_UpdateClients]
    @ClientId INT,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(255),
    @Phone NVARCHAR(50),
    @Address NVARCHAR(250)
AS
BEGIN


    BEGIN TRANSACTION;

    BEGIN TRY 

    UPDATE Persons
    SET FirstName = @FirstName, LastName = @LastName, Email = @Email,
    Phone = @Phone, Address = @Address
    WHERE PersonID = (SELECT PersonID FROM Clients WHERE ClientID = @ClientId)
    
    COMMIT;
    RETURN 1;

     END TRY

     BEGIN CATCH

        ROLLBACK TRANSACTION
            SELECT ERROR_MESSAGE() AS ErrorMessage;
        RETURN 0;
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ValidateClient]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ValidateClient]
    @UserName NVARCHAR(50),
    @PasswordHash VARCHAR(100)
AS
BEGIN
    SELECT 
        C.ClientId,
        C.UserName,
        P.FirstName,
        P.LastName,
        P.Email
    FROM Clients AS C
    INNER JOIN Persons AS P ON C.PersonId = P.PersonId
    WHERE C.UserName = @UserName 
      AND C.PasswordHash = @PasswordHash
      AND C.IsActive = 1;  -- Only active clients can login
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ValidateUser]    Script Date: 2/24/2026 8:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_ValidateUser]
    @UserName NVARCHAR(50),
    @PasswordHash VARCHAR(100)
AS
BEGIN
    SELECT 
        U.UserID,
        U.UserName,
        P.FirstName,
        P.LastName
    FROM Users AS U
    INNER JOIN Persons AS P ON U.PersonID = P.PersonID
    WHERE U.UserName = @UserName 
      AND U.PasswordHash = @PasswordHash;
END
GO
USE [master]
GO
